@require 'QueryRoute'
@require 'QueryListRoute'
@require 'DiffRoute'
@require 'TreeRoute'
@require 'ImportRoute'
@require 'OpsRoute'
@require 'ColumnLayout'

@font-face
    font-family slackicons
    src url(../fonts/slack-icons-Regular.woff)

body 
    font-family 'Helvetica Neue', Helvetica   
    margin 0px

    .building
        align-items center
        background rgba(0,0,0,0.6)
        color white
        display flex
        font-size 3em
        justify-content center
        text-align center
        position fixed
        left 0
        top 0
        width 100%
        height 100%
        z-index 10
