.column-layout

    .component-wrapper, .resize-handle
        display inline-block
        height 100%
        vertical-align top

    .resize-handle
        background-color black
        cursor pointer