@require 'LabelledDropdown'
@require 'LabelledTextField'
@require 'ReactSelectize'
@require 'SimpleButton'

.data-source-cue-popup
    
    label 
        display inline-block
        margin-right 4px
        text-align right
        text-transform capitalize
        width 90px
        &:after 
            content: " : "

    input         
        width 302px

    .simple-button
        margin-top 6px
        width 100%

    > div, .data-source-cue > div
        margin-bottom 4px

    .react-selectize .dropdown .option-wrapper.highlight .simple-option
        color #a0b42a !important


