@require 'LabelledDropdown'
@require 'LabelledTextField'
@require 'Popup'
@require 'ReactSelectize'
@require 'SimpleButton'

.data-source-cue-popup
    
    input
        width 302px

    label 
        display inline-block
        margin-right 4px
        text-align right
        text-transform capitalize
        
        &:after 
            content " : "

    .simple-button
        margin-top 6px
        width 100%

    > div, .data-source-cue > div
        margin-bottom 4px

    // dark green text color highlight on hover
    .react-selectize .dropdown .option-wrapper.highlight .simple-option
        color #a0b42a !important


