.data-source-popup
    
    label 
        display inline-block
        margin-right 4px
        text-align right
        text-transform capitalize
        width 85px
        &:after 
            content: " : "

    select
        font-size larger
        width 250px

    input 
        border none
        outline none
        padding 4px
        width 248px

    .data-source, .data-source > div
        margin-top 4px
