@import 'LabelledDropdown'
@import 'SimpleButton'

.data-source-cue-popup
    
    label 
        display inline-block
        margin-right 4px
        text-align right
        text-transform capitalize
        width 90px
        &:after 
            content: " : "

    select
        font-size larger
        width 250px

    input 
        border none
        border-radius 4px
        outline none
        font-size 1em
        padding 10px 12px
        width 300px

    > div, .data-source-cue > div
        margin-bottom 4px
