.data-source-cue-popup
    
    label 
        display inline-block
        margin-right 4px
        text-align right
        text-transform capitalize
        width 90px
        &:after 
            content: " : "

    select
        font-size larger
        width 250px

    input 
        border none
        outline none
        padding 4px
        width 248px

    > div, .data-source-cue > div
        margin-bottom 4px
