.data-source-popup
    
    label 
        display inline-block
        margin-right 4px
        text-align right
        text-transform capitalize
        width 85px
        &:after 
            content: " : "

    select
        font-size larger
        width 250px

