.diff-route

    .diff 
        border-collapse collapse
        border 1px solid darkgray
        white-space pre-wrap

        tbody  
            font-family Courier, monospace

            th 
                font-family verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif
                background #EED
                font-size 11px
                font-weight normal
                border 1px solid #BBC
                color #886
                padding .3em .5em .1em 2em
                text-align right
                vertical-align top
                &.author 
                    text-align right
                    border-top 1px solid #BBC
                    background #EFEFEF

            td 
                padding 0px .4em
                padding-top .4em
                vertical-align top
        
        thead 
            border-bottom 1px solid #BBC
            background #EFEFEF
            font-family Verdana

            th.texttitle 
                text-align left

        .empty 
            background-color #DDD

        .replace 
            background-color #FD8

        .delete 
            background-color #E99

        .skip 
            background-color #EFEFEF
            border 1px solid #AAA
            border-right 1px solid #BBC

        .insert 
            background-color #9E9


