.document
    background-color #242424
    display inline-block

    .snapshot
        background-color #1f1f1f
        padding 10px

        img
            width 100%
            height 130px


    .description
        padding 15px

        .title
            color #c2c2c2
            font-size 18px
            text-decoration none

        .last-saved
            color #636363
            font-size 14px
            margin-top 10px
