.import-route
    .popup.data-source-cue-popup
        position static
    .console
        font-family andalemono
        font-size smaller
        margin 0
        word-wrap break-word
        white-space pre
        height 100px
        overflow auto
        padding 1em
    &.error
        .console
            background-color #FFF5F5