.import-route
    .popup.data-source-cue-popup
        position static
    .message
        font-family andalemono
        font-size smaller
        margin 0
        word-wrap break-word
        white-space normal
        height 100px
        overflow auto
        padding 1em
    &.error
        .message
            background-color #FFF5F5