.labelled-text-field
    display flex
    align-items center

    > input
        background-color #f9f9f9
        border 1px solid black
        border-radius 4px
        box-shadow inset 1px 2px 3px 0 rgba(0, 0, 0, 0.5)
        font-size 1em
        outline none
        padding 4px
        text-indent 7px
