@import 'Checkbox'

.query-route
    .menu 
        // background linear-gradient(#111, #222)
        background #222
        border-bottom 1px solid rgba(255,255,255,0.2)
        box-sizing border-box
        display flex
        font-size 0px
        height 50px
        
        .buttons 
            align-items center
            display flex
            a
                align-items center
                background #2f2f2f
                border-bottom 2px solid rgba(0,0,0, 0.5)
                box-sizing border-box
                color white
                cursor pointer
                display flex
                font-size 14px
                font-weight lighter
                justify-content center
                letter-spacing 0.08em
                margin-right 4px
                padding 0px 20px
                text-align center
                text-decoration none
                text-shadow 0px -1px 0px black
                user-select none
                -webkit-user-select none
                vertical-align top
                position relative
                height 40px

                &:active 
                  -webkit-transform translateY(1px)
            
                &.highlight
                    border-top 2px solid

                    &.green
                        border-top-color green

                    &.orange
                        border-top-color  orange
            
                &.pressed
                    background-image: linear-gradient(#2f2f2f, #383838);
                    -webkit-transform: translateY(1px);

            .separator
                background #333
                margin 0px 5px 0px 0px
                width 1px
                height 100%
        
