@require 'Checkbox'

.menu     
    background #1b1b1b
    border-bottom 1px solid #3a3a3a
    box-sizing border-box
    display flex
    width 100%
    height 50px
    
    .logo
        background-image url("/public/images/pipe-logo.svg")
        background-position center
        background-repeat no-repeat
        background-size 100%
        cursor pointer
        font-size 28px
        width 60px
        height 50px
        margin 0 20px 0 20px

    .buttons 
        align-items center
        display flex
        
        &.left
            flex-grow 1

        a
            background #252525
            border 1px solid #121212
            box-sizing border-box
            color #bcbcbc
            cursor pointer
            display flex
            align-items center
            justify-content center
            font-size 12px
            margin-right 15px
            padding 0px 8px
            text-align center
            text-decoration none
            user-select none
            height 30px

            &:active 
              -webkit-transform translateY(1px)
        
            &.highlight
                border-top 2px solid

                &.green
                    border-top-color green

                &.orange
                    border-top-color  orange
        
            &.pressed
                background-image linear-gradient(#2f2f2f, #383838)
                -webkit-transform translateY(1px)
    
    .user
        background-color #171717
        border-right 1px solid #121212
        width 50px
        height 48px
