@require 'Dialog'
@require 'LabelledDropdown'

.new-query-dialog
    
    .description
        font-size 15px
        padding 20px 20px 0px 20px
        text-shadow 0px -1px 0px black
        white-space normal

    .data-source-cue-popup
        background none
        box-shadow none
        padding 5px 20px 20px 20px

        // TODO: replace this hack
        .simple-button
            display none

    label
        color #aaa !important
        text-shadow 0px -1px 0px black

    .language
        padding 20px 20px 0px 20px
        
        label
            display inline-block
            margin-right 4px
            text-align right
            width 90px
            &:after
                content " : "
