.popup
    background linear-gradient(#454545, #222)
    box-shadow 0 2px 12px black
    color white
    font-size 14px
    overflow auto
    padding 20px
    overflow visible
    position absolute
    top 50px
    z-index 1000