.project 
    border 1px solid #121212
    box-sizing border-box
    position relative
    
    .lock 
        position absolute
        top 2px
        right 2px
        width 35px
        height 35px
        background-color #171717

    .description 
        background-color #1f1f1f
        padding 25px 20px 8px 20px

        .title 
            color #c2c2c2
            cursor pointer
            font-size 18px
            text-decoration none

        .buttons 
            display flex

            .button 
                background-color #252525
                border 1px solid #121212
                color #bcbcbc
                cursor pointer
                font-size 12px
                margin 25px 8px 12px 0px
                padding 8px

        .role 
            color #636363
            display flex
            font-size 12px
            justify-content flex-end

    .stats 
        background-color #252525
        height 25px