.query-list-route
    display flex
    flex-direction row
    flex-wrap wrap

    .query 
        display flex
        flex-direction column
        margin 10px
        width 320px

        img 
            border 1px solid #ccc
            width 320px
            height 240px

        a 
            color #0099ff            
            font-size 14px
            text-transform lowercase
