@import 'ConflictDialog'
@import 'DateSourceCuePopup'
@import 'Menu'
@import 'Popup'
@import 'SettingsDialog'
@import 'SharePopup'
@import '../../node_modules/react-selectize/src/ReactSelectize.css'
@import '../presentation/presentation'

.query-route
    
    .logo
        background-image url("/public/images/pipe-logo.svg")
        background-position center
        background-repeat no-repeat
        background-size 100%
        cursor pointer
        font-size 28px
        width 60px
        height 50px
        margin 0 10px 0 8px

    .menu .buttons
        width -webkit-calc(100% - 70px)

    .dialog-container
        align-items center
        background-color rgba(0,0,0,0.4)
        display flex
        justify-content center
        position absolute
        left 0px
        top 0px
        width 100%
        height 100%
        z-index 10

    .content
        background #272822
        font-size 1vh
        white-space nowrap

        > div
            display inline-block
            vertical-align top     
         
        .editors .editor
            .editor-title
                background #1d1f20
                box-sizing border-box
                border-bottom 1px solid rgba(255,255,255,0.1)
                color #999
                cursor ns-resize
                display block
                font-size 16px
                font-weight lighter
                height 30px    
                letter-spacing 0.1em
                line-height 30px
                padding 0px 0px 0px 8px
                vertical-align middle
                -webkit-user-select none

                input
                    appearance none
                    background none
                    border none
                    color white
                    font-size 16px
                    font-weight normal
                    line-height 30px
                    outline none
                    padding 0px
                    margin 0px
                    vertical-align middle
                    width 100%
                    height 30px

            .resize-handle
                background linear-gradient(to bottom, #505050, #383838)
                cursor row-resize
                display none
                height 5px

        > .resize-handle
            // background linear-gradient(to right, #505050, #383838)
            // border-left 1px solid black
            // border-right 1px solid black
            background-color #333536
            box-sizing border-box
            cursor ew-resize
            width 5px
            height -webkit-calc(100% - 50px)
            -webkit-user-select none

        .presentation-container
            position absolute

            &.executing:after
                align-items center
                background-color rgba(0,0,0,0.6)
                color white
                content 'Executing ...'
                display flex
                font-size 5em
                justify-content center
                position absolute
                top 0
                left 0
                right 0
                bottom 0

            .presentation
                // background rgba(29, 30, 25, 0)
                overflow auto
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 25px
            
            .status-bar
                background #1d1f20
                border-top 1px solid rgba(255,255,255,0.1)
                color white
                display flex 
                flex-direction row
                flex-wrap nowrap
                font-size 12px
                position absolute
                bottom 0px
                width 100%
                height 24px

                > div 
                    padding 5px 10px
                    label:after
                        content ": "
                    span
                        color #0099ff
                        
    .tags-popup .control
        background-color white

