@require 'Menu'
@require 'ConflictDialog'
@require 'SettingsDialog'
@require 'Popup'
@require 'DateSourceCuePopup'
@require 'SharePopup'
@require '../presentation/presentation'
@require 'QueryAndImportRoute'
@require '../../node_modules/react-selectize/src/MultiSelect.css'

.query-route
    .logo
        logo()

    .menu .buttons
        width -webkit-calc(100% - 70px)

    .dialog-container
        align-items center
        background-color rgba(0,0,0,0.4)
        display flex
        justify-content center
        position absolute
        left 0px
        top 0px
        width 100%
        height 100%
        z-index 10

    .content
        route-content()

        > div
            display inline-block
            vertical-align top     
         
        .editors .editor
            .editor-title
                editor-title()
                cursor ns-resize

                input
                    appearance none
                    background none
                    border none
                    color white
                    font-size 16px
                    font-weight normal
                    line-height 30px
                    outline none
                    padding 0px
                    margin 0px
                    vertical-align middle
                    width 100%
                    height 30px

            .resize-handle
                background linear-gradient(to bottom, #505050, #383838)
                cursor row-resize
                display none
                height 5px

        > .resize-handle
            resize-handle()

        .presentation-container
            position absolute

            &.executing:after
                align-items center
                background-color rgba(0,0,0,0.6)
                color white
                content 'Executing ...'
                display flex
                font-size 5em
                justify-content center
                position absolute
                top 0
                left 0
                right 0
                bottom 0

            .presentation
                // background rgba(29, 30, 25, 0)
                overflow auto
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 25px
            
            .status-bar
                status-bar()
                        
    .tags-popup .control
        background-color white

