logo()
    background-image url("/public/images/pipe-logo.svg")
    background-position center
    background-repeat no-repeat
    background-size 100%
    cursor pointer
    font-size 28px
    width 60px
    height 50px
    margin 0 10px 0 8px

editor-title()
    background #1d1f20
    box-sizing border-box
    border-bottom 1px solid rgba(255,255,255,0.1)
    color #999
    display block
    font-size 16px
    font-weight lighter
    height 30px    
    letter-spacing 0.1em
    line-height 30px
    padding 0px 0px 0px 8px
    vertical-align middle
    -webkit-user-select none
    
route-content()
    background #272822
    font-size 1em
    white-space nowrap
    
resize-handle()
    // background linear-gradient(to right, #505050, #383838)
    // border-left 1px solid black
    // border-right 1px solid black
    background-color #333536
    box-sizing border-box
    cursor ew-resize
    width 5px
    height -webkit-calc(100% - 50px)
    -webkit-user-select none
    
status-bar()
    background #1d1f20
    border-top 1px solid rgba(255,255,255,0.1)
    color white
    display flex 
    flex-direction row
    flex-wrap nowrap
    font-size 12px
    position absolute
    bottom 0px
    width 100%
    height 24px

    > div 
        padding 5px 10px
        
        label
            &:after
                content: ": "
        span
            color #0099ff