@require '../../node_modules/react-selectize/src/index.css'

.react-selectize
    border 1px solid black
    box-shadow inset 1px 2px 3px 0 rgba(0, 0, 0, 0.5)
    display inline-block
    width 300px

    &.open
        border-bottom-left-radius 0px
        border-bottom-right-radius 0px

    .react-selectize-control
        border none
        min-height 22px

        input 
            color #202020 !important
            padding 0px !important
            margin 3px

    .react-selectize-dropdown-container .react-selectize-dropdown, .react-selectize-dropdown
        background-color rgb(73, 73, 73)
        box-shadow 0px 1px 5px rgba(0,0,0,0.4)
        border none

        .option-wrapper.highlight
            background-color #262626

        .simple-option
            border 1px solid rgba(0, 0, 0, 0.3)
            box-shadow 0px 1px rgba(255, 255, 255, 0.06), 0px 1px rgba(255, 255, 255, 0.06) inset
            color white
            padding 5px 10px

        .simple-option a, .no-results-found a 
            color #a0b42a

    .react-selectize-arrow 
        top 11px !important

    .react-selectize-reset 
        display none !important