.resizeable-editor-group .title
    background #1b1b1b
    box-sizing border-box
    border-bottom 1px solid rgba(255,255,255,0.1)
    color #999
    cursor ns-resize
    display block
    font-size 16px
    font-weight lighter
    height 30px
    letter-spacing 0.1em
    line-height 30px
    padding 0px 0px 0px 8px
    vertical-align middle
    user-select none