@require 'ReactSelectize'

.settings-dialog 
    background-color #303130
    border-top-left-radius 5px
    border-top-right-radius 5px
    box-shadow 0 2px 10px 1px #000000
    color #f1f1f1
    font-size 14px

    .header 
        background-image linear-gradient(top, #404143 0%, #333537 52%, #252729 52%, #252729 100%)
        border-top-left-radius 5px
        border-top-right-radius 5px
        height 36px    
        display flex
        align-items center
        font-size 16px
        padding-left 8px
        text-shadow 0px -1px 0px black

    > .section
        color #f1f1f1
        padding 12px 16px

        &.language
            background-image linear-gradient(top, rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0.11) 8px, rgba(0, 0, 0, 0.01) 13px, transparent 15px)

        label   
            display inline-block
            text-shadow 0px -1px 0px black

        &.language label
            margin 0px 5px 0px 0px

        &.libraries label
            margin 0px 0px 5px 0px

        .libraries
            border 1px solid rgba(0, 0, 0, 0.3)
            box-shadow 1px 1px rgba(255, 255, 255, 0.06), 1px 1px rgba(255, 255, 255, 0.06) inset
            padding 10px

            > div
                display flex
                align-items center
                margin-bottom 8px

                .simple-select
                    margin-right 10px

        .simple-select  .dropdown .simple-option .link
            color #a0b42a
    
    .footer 
        background-color #2b2b2b
        box-shadow inset 0 1px black, inset 0 2px rgba(255, 255, 255, 0.1)
        display flex
        align-items center
        justify-content flex-end    
        height 44px

        > button 
            margin-right 8px

    .button 
        border none
        border-radius 4px
        box-shadow 0 0px 3px 0 #000000
        color white
        cursor pointer
        min-width 60px
        outline none
        padding 4px
        text-shadow 0px -1px 0px black

        &.green 
            background-image linear-gradient(bottom, #028d00 0%, #49a514 100%)
            border-top 1px solid #88c464

        &.grey 
            background-image linear-gradient(bottom, #494950 0%, #646468 100%)
            border-top 1px solid #93939b            

        &.red
            background-image linear-gradient(bottom, #b60000 0%, #cb0000 100%)
            border-top 1px solid #e47979




