@require 'Dialog'
@require 'ReactSelectize'

.settings-dialog 
    
    > .section
        color #f1f1f1
        padding 12px 16px

        &.language
            background-image linear-gradient(top, rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0.11) 8px, rgba(0, 0, 0, 0.01) 13px, transparent 15px)

        label   
            display inline-block
            text-shadow 0px -1px 0px black

        &.language label
            margin 0px 5px 0px 0px

        &.libraries label
            margin 0px 0px 5px 0px

        .libraries
            border 1px solid rgba(0, 0, 0, 0.3)
            box-shadow 1px 1px rgba(255, 255, 255, 0.06), 1px 1px rgba(255, 255, 255, 0.06) inset
            padding 10px

            > div
                display flex
                align-items center
                margin-bottom 8px

                .simple-select
                    margin-right 10px

        .simple-select  .dropdown .simple-option .link
            color #a0b42a