@require 'Popup'

.share-popup
    display inline-block
  
    // the link to share
    a
        color #0099ff
        display inline-block
        max-width 320px
        word-break break-all

    // wrapper around label and input control 
    > div
        margin-bottom 8px

        label
            display inline-block
            margin-right 4px
            text-align right
            text-transform capitalize
            width 140px
            &:after
                content: " : "

        input[type=checkbox]
            width auto !important

        textarea
            outline none