.status-bar
    border-top 1px solid rgba(255,255,255,0.1)
    color white
    display flex 
    flex-direction row
    flex-wrap nowrap
    font-size 12px
    position absolute
    bottom 0px
    width 100%
    height 24px

    .statuses 
        flex-grow 1
        display flex

        > div 
            padding 5px 10px
            
            label
                &:after
                    content: ": "
            span
                color #0099ff
    
    .buttons
        display flex
        align-items center
        padding-right 8px

        .button
            color #bcbcbc
            text-decoration none






