.table
    font-family 'AndaleMono'
    font-size 12px
    
    .head
        background white
        border-bottom 2px solid #999
        position fixed
        left 0px 
        top 0px
        > div
            cursor pointer
            font-weight bold
            overflow hidden
            text-overflow ellipsis
            position relative
            height 40px
            &.selected  
                background-color: rgba(255,255,0,0.1)
                &:after
                    color blue
                    font-size 20px
                    position absolute
                    right 2px
                    top 4px
                    height 100%
                &.up:after
                    content "↑"
                &.down:after
                    content "↓"

    .body 
        margin-top 42px

        > div 
            border-bottom 1px solid #ccc
            cursor pointer
            &.locked
                background-color: rgba(0,255,255,0.1)
                &:hover
                    background-color: rgba(0,255,255,0.2)
            &:not(.locked):hover
                background #f0f0f0
            > div
                overflow hidden
                text-overflow ellipsis
                white-space nowrap
                height 32px
                &.up
                    color green
                &.down
                    color red

    .head > div, .body > div > div  
        display flex
        align-items center
        padding-left 8px

    .head, .body > div
        align-items center
        box-sizing border-box
        display flex
        width 100%
        > div
            border-right 1px solid #ccc
            box-sizing border-box
            width 160px