@require 'components/ProjectListRoute'
@require 'components/DocumentListRoute'
@require 'components/DocumentRoute'

@font-face
    font-family slackicons
    src url(../fonts/slack-icons-Regular.woff)

body 
    background-color #171717
    font-family 'Helvetica Neue', Helvetica
    margin 0px