<html>
    <head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <link rel="stylesheet" type="text/css" href="/node_modules/pipe-web-client/index.css"/>
        <style>
            body {
                background-color: #1A1B13;
                margin: 0px;
                padding: 0px;
            }
            .presentation {
                width: 100%;
                height: 100%;
            }
        </style>
        <meta charset="utf8"/>

        <!-- document here refers to a Pipe document (not the js document object) -->
        <!-- presentation code (LiveScript), safer/easier to store inside script tag rather than a variable like parameters & transformedResult -->
        <script type="text/plain" id="transformation"><%- transformation %></script>
        <script type="text/plain" id="presentation"><%- presentation %></script>
        <script type="text/javascript">
            
            window.transpilation = <%- JSON.stringify(transpilation) %>;

            // obtained from query-string
            window.compiledParameters = <%- JSON.stringify(compiledParameters) %>;

            // obtained by executing the query on server side
            window.queryResult = <%- JSON.stringify(queryResult) %>;

        </script>
        <!-- executes the presentation code using the parameters & transformedResult -->
        <script type="text/javascript" src="/public/presentation/presentation.js"></script>
    </head>
    <body> 
        <div class="presentation"></div>
        <% (clientExternalLibs || []).forEach(function(lib) { 
            parts = lib.split(".")
            if (parts[parts.length - 1] == "js") {
        %>
                <script type="text/javascript" src="<%- lib %>"></script>
        <%  } else { %>
                <link rel="stylesheet" type="text/css" href="<%- lib %>"/>
        <%  
            } 
           });
        %>
    </body>
</html>